body {
  font-family: Arial, sans-serif;
  background-color: #f0f8f7; /* Verde claro para o fundo */
  color: #333; /* Cor do texto */
}

h1, h2 {
  color: #2e8b57; /* Verde escuro para os títulos */
}

p {
  line-height: 1.6;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

.video-container {
  margin-top: 20px;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Proporção do vídeo 16:9 */
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
