body {
    margin: 0;
    padding: 0;
    background-color: #010101; /* Tom de verde para o fundo */
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
}

.top, .left, .right, .center {
    background-color: #a6ffa6; /* Tom de verde para as áreas de texto */
    padding: 10px;
    margin-bottom: 10px;
}

.bottom {
    text-align: center;
    padding: 20px;
}

.video {
    text-align: center;
    padding: 20px;
}
